{% extends "base.html" %}
{% load static %}

{% block title %}
    {{title}} :: {{block.super}}

{% endblock %}


{% block content %}
<div class="col-md-9" >

    <div class="col mx-auto">
{#        <div class="card border-info " align="center" style="border: 2px solid">#}
        <div class="card" >
            <div class="card-header" align="center" >
                <h2 class="card-title">Безкоштовний онлайн-сервіс, метою якого є:</h2>
            </div>
            <div class="card-body">
                <div class="row" style="width: 100%">
                    <div class="card-text">
                        <ul style="font-size: 20px;">
                            <li>
                                Просвітницька робота серед власників дрібних домашніх тварин та власників розплідників собак і котів з питань репродукції (ця версія обмежена консультаціями  з питань порушення вагітності у сук і кішок);
                            </li>
                            <li>
                                Створення можливостей для покращення якості життя хворих тварин шляхом отримання додаткових  професійних консультацій з питань  ветеринарного обслуговування собак і котів з порушеннями відтворення;
                            </li>
                            <li>
                                Покращення комунікації між власниками хворих тварин та лікарями ветеринарної медицини - фахівцями з репродукції
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 text-right">
                        <img class="" src="{% static 'style/background.jpg' %}" alt="sans" width="600px">
                    </div>
                </div>
            </div>
            <div class="card-footer" align="center">
                <h5> Для початку роботи перейдіть до переліку патологій вагітності.
                </h5>
            </div>
        </div>
    </div>



{% endblock %}
    {% block sidebar %}

        <div class="col-md-3 " style="height: 30rem">

            {% include "inc/_sideform.html" %}
        </div>
    {% endblock %}
</div>
