.row {
    display: flex;
    flex-wrap: wrap;
}

.margin_block{
    margin-top: 80px;
}
.nav nav-pills nav-fill {
    display:table;
    width:100%;
    margin: 0;
}
.nav nav-pills nav-fill > li {
    float:none;
    display:table-cell;
    text-align:center;
}

/*@media (min-width: 768px) {*/
/*.navbar-brand.abs*/
/*    {*/
/*        position: absolute;*/
/*        width: auto;*/
/*        left: 50%;*/
/*        transform: translateX(-50%);*/
/*        text-align: center;*/

/*    }*/
/*}*/

body{

    /*background-color: #e9dfc8;*/
    display: block;
}


.errorlist{
    color: red;
}




