{% load static %}
<div id="header" class="container clearfix">
		<div class="wrapper" style="margin:25px 50px 25px 150px;">
            <div >
                <div style="float: left" id="logo"><img src="{% static "style/nubip-logo-gerb.png" %}" width=500" height="130" alt="" /></div>
                <div style="float: left" id="logo"><img src="{% static "style/dogs.png" %}" width=206" style="margin-left: 5rem; margin-bottom: 1rem" /></div>


{#                <div style="float: left"><h3>Онлайн сервіс дистанційного консультування</h3></div>#}
{#                <div>#}
{#                            <img src="/sites/all/themes/nauu/images/re2018/r_ico_header_phone.png" height="22" width="26"/><br>#}
{#                            <span>Довідник</span>#}
{#                </div>#}

{#            <div id="logo"><img src="{% static "style/nubip-logo.png" %}" width="130" height="118" alt="" /></div>#}
{#            <div id="logo"><img src="{% static "style/vet_consult.png" %}" width="330"   alt="" /></div>#}

{#			<div id="logo"><img src="{% static "style/nubip-logo-gerb.png" %}" width="556" height="118" alt="" /></div>#}
            </div>
        </div>
</div>