{% load static %}
<div id="header" class="container clearfix">
		<div class="wrapper" style="margin:25px 50px 25px 150px;">
            <div class="row text-center">
{#                <h1>Онлайн сервіс дистанційного консультування</h1>#}


            			<div id="logo"><img src="{% static "style/nubip-logo-gerb.png" %}" width="556" height="118" alt="" /></div>

{#            <div id="logo"><img src="{% static "style/nubip-logo.png" %}" width="130" height="118" alt="" /></div>#}
{#            <div id="logo"><img src="{% static "style/vet_consult.png" %}" width="330"   alt="" /></div>#}

{#			<div id="logo"><img src="{% static "style/nubip-logo-gerb.png" %}" width="556" height="118" alt="" /></div>#}
            </div>
        </div>
</div>